[Desktop Entry]
Type=Application
Name=conky
Exec=/usr/bin/bash -c 'conky --daemonize --pause=5 -c /home/$USER/.config/losung_conky/losung_simple.conf'
StartupNotify=false
Terminal=false
